.center {
  background-color: var(--bg-color);
  margin: 5vh 2vw 0 2vw;

  &__header {
    display: flex;
    align-items: center;

    @media only screen and (max-width: 60.5em) {
      & {
        margin-left: 4rem;
      }
    }
  }
  &__search {
    margin-left: auto;

    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
.search-input {
  outline: none;
  border: none;
  width: 0;
  align-self: stretch;
  font-size: 1.2rem;
  border-top-left-radius: 0.6rem;
  border-bottom-left-radius: 0.6rem;
  caret-color: var(--primary-color);

  transition: 0.4s;
}
.header__icon-box {
  display: flex;
  align-items: center;
}
.header__icon {
  --ionicon-stroke-width: 4rem;
  width: 2rem;
  height: 2rem;
  padding: 0.5em;

  transition: 0.4s;
  transition-delay: 0.1s;
}
@media only screen and (max-width: 17.8em) {
  .center__search {
    display: none;
  }
}
.center__search:hover > .search-input,
.search-input:focus,
.center__search:focus > .search-input {
  width: 100%;
  padding: 0.5em 1em;
}

.center__search:hover .header__icon,
.center__search:focus .header__icon,
.search-input:focus + .header__icon-box > .header__icon {
  background-color: var(--white);
  color: var(--primary-color);
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: --border-radius;
}
.filters {
  margin-top: 4vh;
  display: flex;
  align-items: center;
  gap: 5vw;
  @media only screen and (max-width: 33.5em) {
    & {
      display: none;
    }
  }
  &-text {
    font-size: 1.4rem;
    color: var(--gray-dark-2);
  }
  @media only screen and (max-width: 76em) {
    & {
      gap: 2vw;
    }
  }
}
.filter {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: space-between;

  &_condition {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5vw;
    font-size: 1.2rem;
    padding: 0.3em 1.5em;
    box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.05);
    border-radius: 10rem;
    color: var(--gray-dark-1);
    font-weight: 300;
    &:hover {
      box-shadow: none;
    }
  }
}

.main {
  margin-top: 8vh;
  border-radius: var(--border-radius);
  padding: 4vh 2vw;
  display: flex;
  gap: 2vw;
  background-color: var(--primary-color);
  color: var(--white);

  @media only screen and (max-width: 46em) {
    & {
      justify-content: space-evenly;
    }
  }
  &__textbox {
    flex: 2;
    &--heading {
      margin-bottom: 1.6vh;
    }
    &__para {
      line-height: 1.8;
    }
  }
  &--link {
    display: inline-block;
    margin-top: 4vh;

    text-decoration: none;
    color: var(--white);
    border-bottom: 1px solid currentColor;
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 60.5em) {
  .main__textbox {
    margin-left: 2vw;
    flex: 1.2;
  }
  .main__image {
    flex: 1;
  }
}
.main__image {
  flex: 1;
  position: relative;
}
.main__image__img {
  position: absolute;

  top: -40%;
  left: -10;
  bottom: 0;
  right: 0;
  width: 110%;
  height: 140%;
}
@media only screen and (max-width: 26em) {
  .main {
    flex-direction: column;
  }
  .main__image {
    display: flex;
    justify-content: center;
  }
  .main__image__img {
    position: relative;
    width: 20rem;
    height: 20rem;
  }
}

.hire {
  &-heading {
    margin-top: 4vh;
    display: flex;
    align-items: center;
  }
  &-see-all {
    margin-left: auto;
  }
  &__info {
    margin-top: 2vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3vw;
    row-gap: 2vh;

    @media only screen and (max-width: 33.5em) {
      & {
        grid-template-columns: 1fr;
      }
    }
    &-box {
      padding: 0.5em 1em;
      background-color: #fff;
      border-radius: var(--border-radius);
      display: flex;
      align-items: center;
      @media only screen and (max-width: 33.5em) {
        & {
          padding: 1vh 8vw;
        }
      }
      @media only screen and (max-width: 14.6em) {
        & {
          flex-direction: column;
        }
      }
      &__number {
        font-size: 3.6rem;
        flex: 1;
      }
      &__role {
        flex: 4;
        &__candidates {
          font-size: 1.2rem;
          color: var(--gray-dark-1);
        }
        @media only screen and (max-width: 33.5em) {
          & {
            flex: 5;
          }
        }
        @media only screen and (max-width: 17.8em) {
          & {
            text-align: center;
          }
        }
      }
    }
  }
}
.mobile-circle {
  display: none;
}
@media only screen and (max-width: 17.8em) {
  .circle-svg {
    width: 50px !important;
    height: 50px !important;
  }
  .mobile-circle {
    display: block;
  }
  .circle-pc {
    display: none;
  }
}
.svg--box {
  display: flex;
  flex-direction: column;
}
.circle {
  fill: none;
  stroke-width: 1rem;
  stroke: var(--primary-color);
}

.circle-bg {
  fill: none;
  stroke-width: 1rem;
  stroke: #f1f1f1;
  stroke-dasharray: 157;
}
.first-circle {
  stroke-dasharray: 157;
  @supports (stroke-dashoffset: calc(157 - (157 * 67) / 100)) {
    stroke-dashoffset: calc(157 - (157 * 67) / 100);
  }
  stroke-dashoffset: 51.81;
}
.second-circle {
  stroke-dasharray: 157;
  @supports (stroke-dashoffset: calc(157 - (157 * 64) / 100)) {
    stroke-dashoffset: calc(157 - (157 * 64) / 100);
  }
  stroke-dashoffset: 56.52;
}
.third-circle {
  stroke-dasharray: 157;
  @supports (stroke-dashoffset: calc(157 - (157 * 80) / 100)) {
    stroke-dashoffset: calc(157 - (157 * 80) / 100);
  }
  stroke-dashoffset: 31.4;
}
.fourth-circle {
  stroke-dasharray: 157;
  @supports (stroke-dashoffset: calc(157 - (157 * 39) / 100)) {
    stroke-dashoffset: calc(157 - (157 * 39) / 100);
  }
  stroke-dashoffset: 95.8;
}
.mob-first-circle {
  stroke-dasharray: 125;
  @supports (stroke-dashoffset: calc(125 - (125 * 67) / 100)) {
    stroke-dashoffset: calc(125 - (125 * 67) / 100);
  }
  stroke-dashoffset: 41.25;
}
.mob-second-circle {
  stroke-dasharray: 125;
  @supports (stroke-dashoffset: calc(125 - (125 * 64) / 100)) {
    stroke-dashoffset: calc(125 - (125 * 64) / 100);
  }
  stroke-dashoffset: 45;
}
.mob-third-circle {
  stroke-dasharray: 125;
  @supports (stroke-dashoffset: calc(125 - (125 * 80) / 100)) {
    stroke-dashoffset: calc(125 - (125 * 80) / 100);
  }
  stroke-dashoffset: 25;
}
.mob-fourth-circle {
  stroke-dasharray: 125;
  @supports (stroke-dashoffset: calc(125 - (125 * 39) / 100)) {
    stroke-dashoffset: calc(125 - (125 * 39) / 100);
  }
  stroke-dashoffset: 76.25;
}
.normal-link {
  text-decoration: none;
  color: var(--primary-color);

  display: inline-block;
  padding: 0.3em 0.8em;
  font-size: 1.4rem;
}
.normal-link:hover {
  color: var(--primary-dark);
  transform: scale(1.01);
}
.svg--box {
  margin-left: auto;

  position: relative;
  display: flex;
  align-items: center;
  @media only screen and (max-width: 14.6em) {
    & {
      margin: 0 auto;
    }
  }
}

.percentage--status {
  margin-top: 0.6em;
  font-size: 1rem;
  color: var(--gray-dark-1);
}
.percentage {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 1.1rem;
  color: var(--gray-dark-1);
}
