.left {
  display: flex;
  // display: none;
  background-color: var(--white);

  @media only screen and (max-width: 60.5em) {
    & {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      right: 60%;
      height: 100%;
      z-index: 10;
    }
  }
  @media only screen and (max-width: 33.5em) {
    & {
      right: 20%;
    }
  }
}
.checkbox-label {
  display: none;
  color: var(--gray-dark-1);
}
.checkbox {
  position: absolute;
  display: none;
  pointer-events: none;
}
.close {
  display: none;
}
@media only screen and (max-width: 60.5em) {
  .checkbox-label {
    border: none;
    background: none;
    display: block;
    position: absolute;
    top: 6vh;
    left: 2rem;
    z-index: 9999;
    @media only screen and (max-width: 17.8em) {
      & {
        top: 5.5vh;
      }
    }
  }
  .checkbox:checked + .checkbox-label .close {
    display: block;
    position: fixed;
  }
  .checkbox:checked + .checkbox-label .menu {
    display: none;
  }
  .nav-menu-icon {
    width: 2rem;
    height: 2rem;
  }
  .checkbox:checked ~ .left {
    display: block;
  }
}

.navigator {
  display: flex;
  flex-direction: column;
  flex: 1 !important;
  gap: 10vh;
  width: 90%;
  margin: 5vh 2vw;

  @media only screen and (max-width: 60.5em) {
    & {
      width: 55%;
      justify-content: space-between;
      gap: 4vh;
      margin: 5vh auto 0 auto;
    }
  }

  &__logo {
    display: flex;
    gap: 1vw;
    align-items: center;
    padding-left: 2vw;
    @media only screen and (max-width: 60.5em) {
      & {
        justify-content: center;
      }
    }

    &__icon {
      width: 2rem;
      height: 2rem;
      color: var(--primary-color);
      flex-shrink: 0;
    }
  }
  &__nav {
    justify-self: flex-end;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1vh;
    font-size: 1.3rem;
    &__item {
      &-msg {
        display: none;
        @media only screen and (max-width: 46em) {
          & {
            display: block;
          }
        }
      }
      &-filters {
        display: none;
        @media only screen and (max-width: 33.5em) {
          & {
            display: block;
          }
        }
      }

      position: relative;
      &:nth-child(8) {
        margin-top: auto;
      }
      &.active::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 0.5vw;
        background-color: var(--primary-color);
        border-radius: 0 100% 100% 0;
      }
      &__link:link,
      &__link:visited {
        padding: 2vh 2vw;
        display: flex;
        align-items: center;
        text-decoration: none;
        color: rgba(112, 72, 232, 0.4);
        gap: 1vw;

        transition: all 0.2s;
      }
      &__link:hover,
      &.active > &__link {
        color: var(--primary-color);
        transform: translateX(1rem);
      }

      &__icon {
        width: 2rem;
        height: 2rem;
        flex-shrink: 0;
      }
    }
  }
}
