:root {
  --primary-color: #7048e8;
  --primary-dark: #501deb;
  --white: #fff;

  --gray-light-1: #f1f3f5;
  --gray-light-2: #adb5bd;

  --gray-dark-1: #868e96;
  --gray-dark-2: #343a40;

  --border-radius: 0.6rem;
  --bg-color: #f1f1f1;
  --mob-small-screen: 33.5em; //536
}
$large-screen: 74.5em; //1192
$tab-land-screen: 67em; //1072
$tab-port-screen: 60.5em; //968
$mob-big-screen: 46em; //736
